  @import '//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css';
@import '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';
@import url(http://fonts.googleapis.com/css?family=Lato);
@import 'src/flat-ui.min.css';

/*Dark: #1C2932
  2nd Dark: #273A47
  Mid-Dark: #395567;
  Mid: #A5BAC5;
  Light: #B8CCD5;
  Very Light: #CFDEE5
  Red: #EC4F43;
  Green: #56BA9A;
*/


html, body
{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
  background-color: #273A47;
}

.navbar-inverse .navbar-brand {
  color: #CFDEE5;
}

.main-title{
display:inline-block;
  margin-left: -40px
}

.main-title-box{
  margin-top: -25px;
  text-align: center; 
  background:#CFDEE5;
}

.pageLoadBox{
  width: 500px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -250px;
}

.loaderBox{
  position: relative;
  width: 150px;
  height: 150px;
  left: 170px;
  top: -10px;

}

.navbar{
  background: #1C2932;
  margin-bottom:0px;
  border-radius: 0px;
}

body{
}

.loopNodesView{
  width: 65%;
  height: 500px;
  padding:25px; 
  margin-top:-40px; 
  height:625px;
  background-color: #395567;
}

.sideBar{
  padding:25px; 
  background-color:#1C2932; 
  margin-top:-40px; 
  background:#273A47;
}


.fa-circle-o-notch{
  color: #EC4F43;
}

.loopBackground{
  fill:  #1C2932;
  stroke-width: 5px;
  stroke:#1C2932;
}

.loopForeground{
  fill: #1C2932;
  stroke-width: 5px;
  stroke:#1C2932;
}

/*a{
  color:inherit;
}
h1, h2, h3, h4{
  margin:0;
  margin-bottom:10px;
  margin-top:10px;
}*/

/*ul { 
  list-style: none; 
}


#recordingslist audio {
 display: block; margin-bottom: 10px; 
} 
*/

.btn-xxl {
  padding: 18px 24px;
  font-size: 24px;
  border-radius: 8px;
}

.btn-xl {
  padding: 10px 16px;
  font-size: 26px;
  border-radius: 8px;
  left:-17px;
}

.btn-l {
  padding: 9px 15px;
  font-size: 20px;
  border-radius: 8px;
  left:-17px;
}

.btn-save{
  position: relative;
  margin-top:25px;
  left:90px;
}



.btn-danger{
  background-color: #EC4F43
}

.btn-success{
  background-color: #56BA9A
}

/*.jumbotron{
  margin-bottom:0px;
}*/

.mp3Blob {
  display: none;
}

.bgVisualizerView{
  opacity:0.3;
}

.glow{
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .75);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .75);
  box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, .75);
  border-radius: 100%;
  width: 200px;
  position: static;
  height:200px;
  transition: box-shadow 0.5s;
}

.btn-record {
  transition: fill 0.3s ease;
   fill: #395567;
 }

.btn-record:hover {
  fill: #EC4F43; 
  opacity:1;
}

.record-wait {
  animation: wait 0.5s;
  -moz-animation: wait 0.5s infinite;
  /* Firefox */
  -webkit-animation: wait 0.5s infinite;
  /* Safari and Chrome */ }

.play-wait {
  animation: playwait 0.5s;
  -moz-animation: playwait 0.5s infinite;
  /* Firefox */
  -webkit-animation: playwait 0.5s infinite;
  /* Safari and Chrome */ }

@-moz-keyframes wait {
  0% {
    fill: #EC4F43; }

  50% {
    fill: #395567; }

  100% {
    fill: #EC4F43; } }

@-webkit-keyframes wait {
  0% {
    fill: #EC4F43; }

  50% {
    fill: #395567;}

  100% {
    fill: #EC4F43; } }

@-moz-keyframes playwait {
  0% {
    fill: #56BA9A; }

  50% {
    fill: orange; }

  100% {
    fill: #56BA9A; } }

@-webkit-keyframes playwait {
  0% {
    fill: #56BA9A; }

  50% {
    fill: orange; }

  100% {
    fill: #56BA9A; } }

.pause {
  opacity: 0.8;
  transition: opacity 0.5s ease;
  display: none; }

.pause:hover {
  opacity: 1; }

.record-new {
  transition: opacity 0.5s ease;
  opacity: 0.8; }

.record-new:hover {
  opacity: 1; }

.play {
  opacity: 0.8;
  display: none; }

.play:hover {
  opacity: 1; }

.btn-play {
  position: absolute;
  left: 108px;
  top: 87px;
  font-size: 38px;
  opacity: 1; 
}

.btn-rec {
  color:#1C2932;
  position: absolute;
  left: 108px;
  top: 87px;
  font-size: 38px;
  opacity: 1; 
}



.btn-circle {
  position: absolute;
  left: 108px;
  top: 87px;
  font-size: 38px;
  opacity: 1; 
}

.btn-pause {
  position: absolute;
  left: 105px;
  top: 87px;
  font-size: 38px;
  opacity: 1; }

.btn-svg {
  position: absolute;
  left: 60px;
  top: 45px; }

  .menu {
    -webkit-filter: url("#shadowed-goo");
            filter: url("#shadowed-goo");
  }

  .menu-item, .menu-open-button {
    background: #1C2932;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    position: absolute;
    color: rgb(238, 238, 238);
    text-align: center;
    line-height: 80px;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
            transition: transform ease-out 200ms;
  }

  .menu-open {
    display: none;
  }

  .hamburger {
    width: 25px;
    height: 3px;
    background: rgb(238, 238, 238);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    -webkit-transition: -webkit-transform 200ms;
            transition: transform 200ms;
  }

  .hamburger-1 {
    -webkit-transform: translate3d(50, -8px, 0);
            transform: translate3d(50, -8px, 0);
  }

  .hamburger-3 {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  .menu-open:checked + .menu-open-button .hamburger-1 {
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
            transform: translate3d(0, 0, 0) rotate(45deg);
  }

  .menu-open:checked + .menu-open-button .hamburger-3 {
    -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
            transform: translate3d(0, 0, 0) rotate(-45deg);
  }

  .menu {
    left: 50%;
    padding-top: 66px;
    padding-left: 100px;
    /* box-sizing: border-box; */
    font-size: 20px;
    text-align: left;
  }

  .menu-item:hover {
    background: rgb(238, 238, 238);
    color: #1C2932;
  }
  .menu-item:nth-child(3) {
    -webkit-transition-duration: 70ms;
            transition-duration: 70ms;
  }
  .menu-item:nth-child(4) {
    -webkit-transition-duration: 130ms;
            transition-duration: 130ms;
  }
  .menu-item:nth-child(5) {
    -webkit-transition-duration: 190ms;
            transition-duration: 190ms;
  }
  .menu-item:nth-child(6) {
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
  }

  .menu-open-button {
    z-index: 2;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
    -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
            transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
  }

  .menu-open-button:hover {
    -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
            transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  }

  .menu-open:checked + .menu-open-button {
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transition-duration: 200ms;
            transition-duration: 200ms;
    -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
            transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  }

  .menu-open:checked ~ .menu-item {
    -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
            transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
  }
  .menu-open:checked ~ .menu-item:nth-child(3) {
    -webkit-transition-duration: 160ms;
            transition-duration: 160ms;
    -webkit-transform: translate3d(93.93727px, 34.28978px, 0);
            transform: translate3d(93.93727px, 34.28978px, 0);
  }
  .menu-open:checked ~ .menu-item:nth-child(4) {
    -webkit-transition-duration: 240ms;
            transition-duration: 240ms;
    -webkit-transform: translate3d(39.62813px, 91.81291px, 0);
            transform: translate3d(39.62813px, 91.81291px, 0);
  }
  .menu-open:checked ~ .menu-item:nth-child(5) {
    -webkit-transition-duration: 320ms;
            transition-duration: 320ms;
    -webkit-transform: translate3d(-39.48185px, 91.87591px, 0);
            transform: translate3d(-39.48185px, 91.87591px, 0);
  }
  .menu-open:checked ~ .menu-item:nth-child(6) {
    -webkit-transition-duration: 400ms;
            transition-duration: 400ms;
    -webkit-transform: translate3d(-93.88254px, 34.43935px, 0);
            transform: translate3d(-93.88254px, 34.43935px, 0);
  }

/*css on-off button*/

.onoffswitch {
    position: absolute;
  width: 85px;
  left: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  top: 30px;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px; width:100px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 20px;
  margin: 6px;
  background: #FFFFFF;
  border: 2px solid #999999;
  border-radius: 7px;
  position: absolute;
  top: 1px;
  bottom: 0;
  right: 40px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.onoffswitch-visualizer {
  position: absolute;
  width: 85px;
  left: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  top: 106px;

}


.loader{
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}


/*  Vertical Sliders */

.slider-text{
  border:0px; 
  color:#f6931f; 
  font-weight:bold; 
  width:35px
}

.tempo-slider{
  height:200px;
}

.ui-slider-vertical .ui-slider-handle {
  left: -1.3em;
}

.ui-slider .ui-slider-handle{
  width: 3.2em;
}

.panel{

}

.panel-body{
  background:#273A47;
  color:#CFDEE5;
}

/*Dark: #1C2932
  2nd Dark: #273A47
*/

.panel-heading{
  color: #CFDEE5;
  background-color: #1C2932;
  border: 0px;
}

.panel-default{
}