@import '//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css';
@import '//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css';

ul { 
  list-style: none; 
}

#recordingslist audio {
 display: block; margin-bottom: 10px; 
} 
.disc {
  stroke : #000000;
  fill : none;
}
.cue {
  stroke : #000000;
  fill : #FFFFFF;
}
.darkplanet {
  stroke : #000000;
  fill : #000000;
}

.sun {
  stroke : #000000;
  fill : #000000;
}

.mute {
  stroke : #A9A9A9;
  fill : #A9A9A9;
}

.unmute {
  stroke : #6495ED;
  fill : #6495ED;
}

.record {
  stroke : #FF6347;
  fill : #FF6347;
}
.wait {
  stroke : #FFFF00;
  fill : #FFFF00;
}
