@import '//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css';
@import '//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css';
@import '//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.4/css/bootstrap-select.min.css';
@import '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';

ul { 
  list-style: none; 
}


#recordingslist audio {
 display: block; margin-bottom: 10px; 
} 
.disc {
  stroke : #000000;
  fill : none;
}

.btn-record{
  fill: red;
}

.record-wait {
  animation:wait 1s;
  -moz-animation:wait 1s infinite; /* Firefox */
  -webkit-animation:wait 1s infinite; /* Safari and Chrome */
}

@-moz-keyframes wait /* Firefox */
{
  0%   {fill : purple;}
  50%  {fill : blue;}
  100%   {fill : purple;}
}

  @-webkit-keyframes wait /* Safari and Chrome */
{
  0%   {fill : purple;}
  50%  {fill : blue;}
  100%   {fill : purple;}
}



.pause{
  opacity: 0.5;
  display:none;
}
.pause:hover{
  opacity:0.7;
}

.record-new{
  opacity: 0.5;
}
.record-new:hover{
  opacity:0.7;
}

.play{
  opacity: 0.5;
  display:none;
}
.play:hover{
  opacity:0.7;
}


.btn-play{
  position: absolute; left: 108px; top: 87px; font-size: 24px;  opacity:0.5;

}

.btn-pause{
  position: absolute; left: 105px; top: 87px; font-size: 24px;   opacity:0.5;
}

.btn-svg{
  position: absolute; 
  left: 55px; 
  top: 40px; 
}




