
  <!-- Hero Box -->
    <div class="jumbotron centered" style="text-align: center">
  <h2><i class="fa fa-circle-o-notch"></i> LoopJam.in</h2>
  <h5 class>Layer all the tracks</h5>
  <div class="btn btn-xxl btn-danger"><i class="fa fa-circle"></i> Record New Track</div>
    <div class="btn btn-xxl btn-success"><i class="fa fa-video-camera"></i> Watch Example</div>

  </div>

  <!-- Create New-->
  <div class="col-md-12">
  <div class="col-md-6">
    <div class="createNew jumbotron cenetered">
      <a href="/#/tracks/new">Record New Track</a>
    </div>
  </div>

  <button id="signup"> SIGN UP</button>
  <button id="login"> LOG IN </button>
  
  <!-- Recent tracks -->
  <div class="col-md-6">
    <div class="recentTracks centered jumbotron">
<!--       <table id="table">
      </table>
 -->
    </div>


    </table>
  </div>
  </div>