
  <!-- Hero Box background-image:url(../img/1350997.jpg)-->

    <div class="jumbotron centered" style="text-align: center; background:black;">
    <div style="color:#B8CCd5">
  <h2><i class="fa fa-circle-o-notch"></i> LoopJam.in</h2><h5 class>Layer all the tracks</h5>
 <a href="/#/tracks/new"> <div class="btn btn-xxl btn-danger"><i class="fa fa-circle"></i> Record New Track</div></a>
    <div class="btn btn-xxl btn-success"><i class="fa fa-video-camera"></i> Watch Example</div>
  </div>
  

  </div>

  <!-- Create New-->

  <div class="col-md-8 col-md-offset-2">
  <!-- Recent tracks -->
    <!-- <div class="recentTracks centered jumbotron"> -->


  </div>
  </div>