<div class="container">

  <!-- Hero Box -->
  <div class="jumbotron centered" style="text-align: center">
  <h2>Loopjam: jam it out!</h2>
  </div>

  <!-- Create New-->
  <div class="col-md-12">
  <div class="col-md-6">
    <div class="createNew jumbotron cenetered">
      <a href="/#/tracks/new">Record New Track</a>
    </div>
  </div>
  
  <!-- Recent tracks -->
  <div class="col-md-6">
    <div class="recentTracks centered jumbotron">
      <p> This is the section for recent tracks </p>
    </div>
  </div>
  </div>

</div>