<div class="col-sm-6 col-md-4">
  <div class="loopNode{{port}}"></div>

  <button class="btn btn-success play" id="loopNode{{port}}" value="1">Play</button>
  <button class="btn btn-success pause" id="loopNode{{port}}" value="1">Pause</button>
  <button class="btn btn-danger record-new" value="1"><i class="fa fa-circle"></i> Record</button>


     <p>
       <label for="amount{{port}}">Volume:</label>
       <input type="text" id="amount{{port}}" readonly style="border:0; color:#f6931f; font-weight:bold;">
     </p>
      
     <div id="slider-vertical{{port}}" style="height:10px;"></div>
     </div>
</div>
