<div class="pause" id="loopNodePause{{port}}">
<svg class="btn-svg" height="120" width="120">
  <circle cx="60" cy="60" r="57" fill="orange" />
<i class="fa fa-pause btn-pause"></i>
</svg>
</div>

<div class="record-new" id="loopNodeRecord{{port}}" >
<svg class="btn-svg" height="120" width="120">
  <circle class="btn-record" cx="60" cy="60" r="57" />
<i class="fa fa-microphone btn-rec"></i>
</svg> <!-- <i style ="position: absolute; left: 107px; top: 87px; opacity: 0.5;font-size: 24px;" class="fa fa-circle"></i> -->
</div>

<div class="play" id="loopNodePlay{{port}}">
<svg class="btn-svg" height="120" width="120">
  <circle class="btn-play" cx="60" cy="60" r="57" fill="#56BA9A" />
</svg>
<i class="fa fa-play btn-play"></i>

</div>