<div class="col-sm-6 col-md-4">

  <input type="text" class="dial loopNode{{port}} wait" data-min="0" data-max="360" data-displayInput="false" data-skin="tron" data-displayPrevious="true">
  <div class="loopNode{{port}}"></div>

  
  <div id="recplaypause">
  </div>

     <p>
       <label for="amount{{port}}">Volume:</label>
       <input type="text" id="amount{{port}}" readonly style="border:0; color:#f6931f; font-weight:bold;">
     </p>
      
     <div id="slider-vertical{{port}}" style="height:10px;"></div>
     </div>
</div>