<div class="col-md-3" style="padding: 25px;">
<a href="http://localhost:3000/#/tracks/{{trackID}}">

<div class="col-md-10" style="height: 80px; padding: 10px; background:#395567; border-radius:20px;">
    <div class="col-md-12">
      <div class="trackName" style="color:#B8CCD5">{{trackname}}</div>
    </div>
    <div class="col-md-12">
    <div class="col-md-6" style="left: -13px;">
      <div class="date" style="color:#B8CCD5; font-size:14px">{{dateCreated}}</div>
    </div>
    
    <div class="col-md-6" style="left:32px; top:-4 height: 28px;"><i class="fa fa-circle-o-notch" style="font-size:26px"></i>     <div class="col-md-1" style="    color: #B8CCD5;   top: -27px;
  left: -6px; font-size:12px">{{numberofloops}}</div></div>
    
    
    </div>
      </div>
    </a>
  </div>
