

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Track Info</h3>
  </div>
  <div class="panel-body">
    <label for="amount{{port}}">Tempo:</label>
    <input type="text" id="amount{{port}}" readonly style="border:0; color:#f6931f; font-weight:bold;">
    <div id="slider-vertical{{port}}" style="height:10px;"></div>
  </div>


  <p class="navbar-text"><strong><i class="fa fa-clock-o"></i> Metronome:</strong></p>
  
  <div class="onoffswitch">
      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox playMet" id="myonoffswitch">
      <label class="onoffswitch-label" for="myonoffswitch">
          <span class="onoffswitch-inner"></span>
          <span class="onoffswitch-switch" style="height: 18px"></span>
      </label>
  </div>

  <br>
  <br>
  <input class="trackName" type="text" name="trackName" value="Name"> <br>
  <button class="saveTrackBtn btn btn-default">Save track</button>
  <br>
  <br>
</div>

