<!-- Side bar -->
<div  class="sideBar col-md-3" style="padding:25px">

  <!-- Track Info View -->
  <div class="trackInfoView" >
  </div>

  <!-- LoopNode Info View -->
  <div class="loopNodeInfoView">
  </div>
  
  <!-- Visualizer View -->
  <div class="visualizerView">
  </div>

</div>

<!-- Loopnodes View -->
<div class="loopNodesView col-md-9" style="padding:25px">
</div>

<!-- Frequency Visualizer View -->
<div class="FreqVisualizerView col-md-9" style="padding:25px">
  <canvas class="freqVisCanvas"> </canvas>
</div>