<!-- Side bar -->


<div style="margin-top:40px">
  <div  class="sideBar col-md-4">

    <!-- Track Info View -->
    <div class="trackInfoView" >
    </div>

    <!-- LoopNode Info View -->
    <div class="loopNodeInfoView">
    </div>
    
    <!-- Visualizer View -->
    <div class="visualizerView">
    </div>
</div>

<!-- Loopnodes View -->
  <div class="loopNodesView col-md-8">
    <div class="bgVisualizerView">
      <canvas class="bgfreqVisCanvas"> </canvas>
    </div>
  </div>

 


  <div class='mp3Blob'>
    <span class='mp3blobData'></span>
    <span class='loopNodePort'></span>
  </div>
</div>

<!-- Frequency Visualizer View -->
<!-- <div class="FreqVisualizerView col-md-9" style="padding:25px">
  <canvas class="freqVisCanvas"> </canvas>
</div> -->
