
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Your tracks
</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-content">
      <table id="table">
        <caption><h4> Tracks submitted by you </h4></head>
        <thead>
          <tr>
            <th data-field="createdAt">Created At</th>
            <th data-field="trackname">Track name</th>
          </tr>
        </thead>
      </table>
  </div> <!-- end Modal-content -->
</div>

